extends layout

block content
  .app__content
    section.section
      h3 获取vue-router的commit最新动态 
      img.profile-pic(src='./images/book.jpg', alt='Hello, World!')
      p.home-note vue-router 仓库最新提交的commit !
block script